<div *ngIf="!loadRouter" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>
<div class='background-image'>
  <img
    src="https://images.creativemarket.com/0.1.0/ps/3566952/910/607/m1/fpnw/wm0/prev-.jpg?1510556190&s=e0453f06a742b7bf026090fa70e83e97" />
</div>
<div class="curtain-container" *ngIf="loadRouter">
  <div class="background-curtain">
    <search [companies]="companies" (blur)="onSearchFocus($event)"></search>
    <router-outlet *ngIf="!searchFocus"></router-outlet>
  </div>
</div>