$background-color: rgba(234, 234, 234, 0.9);

:host {
  z-index: 5;
}

mat-chip {
  background-color: $background-color !important;
}

:host ::ng-deep .mat-chip-list-wrapper {
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  float: right;
  background-color: red;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 2px 0 2px 60px;
  height: auto;
  -webkit-transition: height 0.5s ease-out;
  -moz-transition: height 0.5s ease-out;
  -o-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
  min-width: 120px;
}

.tag-side-bar {
  z-index: 4;
  position: absolute;
  margin: 50px 15px 0 -70px;
  top: 60px;
  left: -50px;
  -webkit-transition: left 0.5s ease-out;
  -moz-transition: left 0.5s ease-out;
  -o-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
}

.open {
  left: 20px;
  -webkit-transition: left 0.5s ease-in;
  -moz-transition: left 0.5s ease-in;
  -o-transition: left 0.5s ease-in;
  transition: left 0.5s ease-in;
}