$background-color: rgba(234, 234, 234, 0.9);
$image-height: 500px;
$overlay-margin: 100px;
$mobile-break-point: 600px;

p {
  margin-top: 50px;
  text-align: center;
}

mat-card {
  padding: 50px !important;
  max-width: 100%;
  margin: 0 100px;
}

back-button {
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
}

h1 {
  background-color: $background-color;
  text-align: center;
  font-size: 50px;
  border-radius: 60px;
  padding: 25px;
  border-color: black;
  border-width: 2px !important;
  border: solid;
  margin: 100px 25px 15px;
}

mat-chip-list {
  mat-chip {
    border-width: 1.5px !important;
    padding: 15px;
    min-height: 40px;
    border-radius: 20px;
  }
}

.image-overlay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -$image-height + $overlay-margin 0 0;
  width: 100%;
  position: relative;
  @media only screen and (max-width: $mobile-break-point) {
    margin-top: -$image-height + $overlay-margin - 50px;
  }
}

.chip-list {
  mat-chip {
    background-color: $background-color !important;
  }
}

.instagram,
.website-url {
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  font-size: 20px;

  a {
    color: black;
    text-decoration: none;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
  }
  @media only screen and (max-width: $mobile-break-point) {
    flex-direction: column;
  }
}

.instagram a:hover,
.instagram:hover,
.website-url a:hover,
.website-url:hover {
  color: red;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.image-container {
  margin-top: -$overlay-margin;
  position: relative;
  height: $image-height;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    min-height: 100%;
  }
}

.image-container:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  opacity: 1;
}

.img-cover {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  margin-top: -$image-height;
}

.chip {
  display: inline-flex;
}

.card-container {
  height: 100%;
}

.profile-info {
  margin: ($overlay-margin + 50px) 20px 0;
  align-items: center;
}

.info {
  margin-left: 50px;
  width: 100%;
}

.mat-card-content {
  margin-top: 50px;
}