$background-color: rgba(234, 234, 234, 0.9);

p {
  text-align: center;
}

mat-card {
  padding: 50px !important;
  max-width: 100%;
  margin: 0 100px;
}

back-button {
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
}

h1 {
  background-color: $background-color;
  text-align: center;
  font-size: 50px;
  border-radius: 60px;
  padding: 25px;
  min-width: 350px;
  border-color: black;
  border-width: 2px !important;
  border: solid;
  margin-top: 100px;
  margin-bottom: 15px;
}

mat-chip-list {
  mat-chip {
    border-width: 1.5px !important;
    padding: 15px;
    min-height: 40px;
    border-radius: 20px;
  }
}

.image-overlay-container {
  position: absolute;
}

.chip-list {
  mat-chip {
    background-color: $background-color !important;
  }
}

.website-url {
  text-align: center;
  margin: 10px;

  a {
    color: black;
    text-decoration: none;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
  }

  a:hover {
    color: red;
  }
}

.image-container {
  margin-top: -100px;
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container img {
  flex-shrink: 0;
  width: 100%;
}

.chip {
  display: inline-flex;
}

.card-container {
  height: 100%;
}

.profile-info {
  align-items: center;
}

.info {
  margin-left: 50px;
  width: 100%;
}

.mat-card-content {
  margin-top: 50px;
}