$mobile-break-point: 600px;
$primary-color: white;
$secondary-color: #1b1b1b;

:host {
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  @media only screen and (max-width: $mobile-break-point) {
    z-index: 1;
    left: 15px;
  }
}

button {
  color: $primary-color;
  padding: 2px 17px 2px 14px;
  border-color: $primary-color;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  @media only screen and (max-width: $mobile-break-point) {
    padding: 0;
    min-width: unset;
    border-color: unset;
    border-width: unset;
    border-style: unset;
    border-radius: unset;

    mat-icon {
      color: $primary-color;
      line-height: 36px;
      height: 36px;
      width: 36px;
      border-radius: 50%;
      border-color: $primary-color;
      border-width: 2px;
      border-style: solid;
      background-color: $secondary-color;
    }

    .back-text {
      display: none;
    }
  }
}

.button-container {
  margin: 18px;
  @media only screen and (max-width: $mobile-break-point) {
    margin: 16px 0 0 6px;
    -webkit-transition: margin 1s ease-out;
    -moz-transition: margin 1s ease-out;
    -o-transition: margin 1s ease-out;
    transition: margin 1s ease-out;
  }
}

.mobileBackFinalPosition {
  @media only screen and (max-width: $mobile-break-point) {
    margin: 60px 0 0 6px;
  }
}

.hideDesktopBack {
  @media only screen and (min-width: $mobile-break-point) {
    display: none;
  }
}