$search-padding-normal: 10px 50px 0;
$search-padding-reduced: 0 50px 0;
$primary-color: white;
$secondary-color: #1b1b1b;
$secondary-color-fade: rgba(27, 27, 27, 0.5);

mobile-tags {
  position: fixed;
  width: 100%;
  display: none;
  @media only screen and (max-width: 600px) {
    display: block;
  }
}

mobile-search {
  top: 50px;
  display: none;
  position: fixed;
  z-index: 2;
  @media only screen and (max-width: 600px) {
    display: block;
  }
}

.results-container {
  margin-left: 25px;
  margin-right: 25px;
  @media only screen and (max-width: 600px) {
    margin-left: 0;
    margin-right: 0;
  }
}

:host ::ng-deep {
  input {
    caret-color: white !important;
  }

  .mat-form-field-label {
    color: white !important;
  }

  .mat-form-field-label-wrapper {
    top: -1em;
  }

  .mat-form-field-infix {
    color: white;
    margin-left: 15px;
    padding-top: 10px;
  }

  .mat-form-field-label {
    margin-left: 20px;
  }

  .mat-form-field-outline {
    color: white !important;

    .mat-form-field-outline-end {
      border-radius: 0 40px 40px 0;
    }

    .mat-form-field-outline-start {
      width: 40px !important;
      border-radius: 40px 0 0 40px;
    }
  }

  .mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
      margin-bottom: -10px;
    }
  }
}

.form-field,
.tag-container {
  width: inherit;
  margin: 0 100px;
  @media only screen and (max-width: 600px) {
    margin: 10px 20px;
  }
}

.search-container {
  text-align: center;
  position: fixed;
  width: -webkit-fill-available;
  left: 0;
  top: 0;
  padding: $search-padding-normal;
  z-index: 2;

  input {
    -webkit-transition: font-size 0.5s ease-out;
    -moz-transition: font-size 0.5s ease-out;
    -o-transition: font-size 0.5s ease-out;
    transition: font-size 0.5s ease-out;
  }
  display: block;
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.ease-padding {
  -webkit-transition: padding 0.5s ease-out, background-color 1s ease-out;
  -moz-transition: padding 0.5s ease-out, background-color 1s ease-out;
  -o-transition: padding 0.5s ease-out, background-color 1s ease-out;
  transition: padding 0.5s ease-out, background-color 1s ease-out;
}

.stick-menu {
  background-color: $secondary-color-fade;
  padding: $search-padding-reduced;
  @media only screen and (max-width: 600px) {
    padding: 0;
  }
}

.unstick-menu {
  background-color: $secondary-color;
  padding: $search-padding-normal;
  @media only screen and (max-width: 600px) {
    padding: 0;
  }
}

.search-open {
  input {
    margin-bottom: 0;
    font-size: 37px;
  }
}

mat-label {
  font-size: 15px;
}

mat-chip-list {
  mat-chip {
    color: $primary-color !important;
    background-color: transparent !important;
    border-width: 1px !important;
    margin-top: -7px;
  }

  ::ng-deep .mat-chip-list-wrapper {
    height: 40px;
  }
}

.no-result-text {
  @media only screen and (max-width: 600px) {
    padding: 50px 0;
    height: 100%;

    h4 {
      margin: 0 !important;
    }
  }
}

h1,
h2,
h4,
h5 {
  text-align: center;
}

h4 {
  text-transform: uppercase;
}

.no-result-container {
  @media only screen and (max-width: 600px) {
    padding-top: 100px;
    height: 100%;
  }
}

.result-title {
  @media only screen and (max-width: 600px) {
    margin-bottom: 0;
    padding: 110px 0 0;
  }
}

.search-result-container {
  padding-top: 90px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  @media only screen and (max-width: 750px) {
    padding-top: 30px;
  }

  line-item {
    width: 50%;
    max-width: 400px;
    @media only screen and (max-width: 900px) {
      display: flex;
    }
    @media only screen and (max-width: 750px) {
      display: unset;
      width: 100%;
    }
  }
}