// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming'; // Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core(); // Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-black: (
  50: #000,
  100: #000,
  200: #000,
  300: #000,
  400: #000,
  500: #000,
  600: #000,
  700: #000,
  800: #000,
  900: #000,
  A100: #000,
  A200: #000,
  A400: #000,
  A700: #000,
  contrast: (50: $dark-primary-text, 100: $dark-primary-text, 200: $dark-primary-text, 300: $dark-primary-text, 400: $dark-primary-text, 500: $light-primary-text, 600: $light-primary-text, 700: $light-primary-text, 800: $light-primary-text, 900: $light-primary-text, A100: $dark-primary-text, A200: $light-primary-text, A400: $light-primary-text, A700: $light-primary-text,)
);
$findSA-primary: mat-palette($mat-black);
$findSA-accent: mat-palette($mat-pink, A200, A100, A400); // The warn palette is optional (defaults to red).
$findSA-warn: mat-palette($mat-red); // Create the theme object (a Sass map containing all of the palettes).
$findSA-theme: mat-light-theme($findSA-primary, $findSA-accent, $findSA-warn); // Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($findSA-theme);
/* You can add global styles to this file, and also import other style files */
$custom-typography: mat-typography-config($font-family: 'BonvenoCF,helvetica neue,Arial,sans-serif');
@include mat-core($custom-typography);

html {
  overflow-y: scroll;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: BonvenoCF,helvetica neue,Arial,sans-serif;
  @media only screen and (max-width: 600px) {
    margin: 0 !important;
  }
}

mat-card {
  padding-right: 30px !important;
  padding-left: 30px !important;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 600px) {
    padding: 110px 25px 0 !important;
    height: -webkit-fill-available;
  }
}

.mobile-card {
  @media only screen and (max-width: 600px) {
    padding: 25px !important;
    margin: 25px;
    height: auto;
  }
}

mat-chip {
  color: black !important;
  background-color: transparent !important;
}

mat-chip-list {
  mat-chip {
    font-weight: 800!important;
    border-color: black;
    border-width: 2px !important;
    border: solid;
    cursor: pointer !important;
  }
}